.display-contents {
    display: contents;
}

body {
    margin: 0;
    font-size: 14px;
}

* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        'Helvetica Neue', sans-serif;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: initial;
}

section {
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

main,
.footer-1 {
    padding: 20px 150px;
}

header {
    background-color: black;
    color: white;
}

header a,
header a:visited,
header a:active {
    color: white;
}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .header-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .login {
    display: flex;
    flex-direction: row;
}

.slogan {
    text-align: center;
    font-size: 30px;
}

.slogan img {
    width: 100%;
}

.logo {
    width: 120px;
}

footer {
    background-color: rgb(247, 247, 247);
    border-top: solid 1px rgb(235, 235, 235);
}

.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a:hover {
    text-decoration: underline;
}

img {
    border-radius: 8px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
}

h4 {
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    font-size: 12px;
    font-weight: 700;
}

.card .title {
    font-size: 16px;
    font-weight: 600;
}

.card-explorer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-explorer img {
    margin-right: 10px;
}

.card-explorer .title {
    margin-bottom: 5px;
}

.explorer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.vous img {
    width: 100%;
}

.vous .card {
    margin-right: 20px;
}

.vous-container {
    display: flex;
    flex-direction: row;
}

.decouvrez img {
    width: 100%;
}

.decouvrez-container {
    display: flex;
    flex-direction: row;
}

.explorer .card img {
    width: 72px;
}

.explorer .card .description {
    font-size: 16px;
}

.decouvrez .card {
    margin-right: 20px;
}

.decouvrez .card .description {
    font-size: 14px;
}

.devenez {
    position: relative;
    color: white;
}

.devenez img {
    width: 100%;
}

.devenez button {
    font-size: 16px;
    background-color: white;
    border-color: rgb(72, 72, 72);
    border-radius: 8px;
    width: 120px;
    height: 36px;
}

.devenez-text {
    width: 40%;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 18px;
}

.devenez-text h1 {
    font-size: 48px;
    font-weight: 600;
}

@media screen and (max-width: 1130px) {
    main,
    .footer-1 {
        padding: 20px 30px;
    }

    .devenez button {
        font-size: 14px;
    }

    .devenez-text {
        width: 40%;
        position: absolute;
        top: 50px;
        left: 50px;
        font-size: 16px;
    }

    .devenez-text h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .footer-1 {
        flex-direction: column;
    }

    .footer-1 ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        border-bottom: solid 1px rgb(235, 235, 235);
    }
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 742px) {
    .footer-1 ul {
        display: block;
    }
}
